  /* Hero */

  /* centers the first section  */
  section:first-of-type {
    text-align: center;
    padding: 12px 24px;
  }
  
  section:first-of-type h2 {
    font-size: 1.75rem;
    margin-bottom: 16px;
  }
  
  /* hero button */
  section:first-of-type a {
    display: inline-block;
    margin-top: 14px;
    padding: 12px 20px;
    background-color: #2c7be5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  section:first-of-type a:hover {
    background-color: #1a5bb8;
  }
  
  /* main layout fields + sidebar */
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* hero always full width */
  main section:first-of-type {
    order: 1;
    flex: 0 0 100%;
  }
  
  /*available fields section 2 times as much space as sidebar*/
  main section:nth-of-type(2) {
    order: 2;
    flex: 2;
  }
  
  /* spacing for sections & sidebar */
  section,
  aside {
    padding: 24px;
  }
  
  /* Field cards*/
  
    /* makes into card  */
  section ul li {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
    background-color: #a8dbc0;
    padding: 16px;
    border-radius: 6px;
  }
  
  .field-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .field-text h3 {
    margin-bottom: 4px;
  }
  
  .field-text p {
    margin: 0;
  }
  
  /* field images */
  section ul li img {
    width: 180px;
    height: 120px;
     object-fit: cover; /*crop without distortion */
    border-radius: 4px;
  }

  /* hover effect for links  */
  section ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  section ul li a:hover {
    text-decoration: underline;
  }
  
  /* Sidebar (promoted field)*/
  
  aside {
    order: 3;
    flex: 1;
    background-color: #a8dbc0;
    padding: 20px;
    border-radius: 8px;
    align-self: flex-start;
    margin-top: 90px;
  }
  
  aside h2 {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }
  
  aside h3 {
    font-size: 1.1rem;
    margin: 8px 0;
  }
  
  aside img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 12px;
  }

  /* hover for links again  */
  aside a {
    text-decoration: none;
    color: inherit;
  }
  
  aside a:hover {
    text-decoration: underline;
  }
  
  /* for mobile */
  
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  /* sidebar below hero */
    main aside {
      order: 2;
      width: 90%;
      max-width: 500px;
      margin: 24px auto;
    }
  /* sidebar above fields list */
    main section:nth-of-type(2) {
      order: 3;
    }
  }
  
 